@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  /* dark2 */
  .text-gray{
    color: #424242;
  }
  /* dark3 */
  .text-light-gray{
    color: #727272;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .primary{
   background-color: #FF900E;
   color: #FFFFFF;
   font-weight:600;
   font-size: 1.25rem;
   padding: 20px 25px;
   border-radius: 8px;

  }
  /* header styles */
  /* navber styles */
  .navbar{
  justify-content: space-between;
  align-items: center;
  }
  .brand{
    font-weight: 700;
    font-size: 45;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
text-decoration: none;
  }
  .navbar, .banar{
    max-width: 1440px;
    margin: auto;
  }
  /* banar styles */
.banar-contant{
max-width: 850px;
margin: auto;
text-align: center;
margin: 50px;
}
.banar-title{
font-weight: 700;
font-size: 4rem;
}
.banar-dres{

}